Repository legend-exp/remage, pull requests merged in 2025-03, with the labels that each got.

#244 Add Particle filter stacking action option
  docs/rmg-commands.md
  include/RMGParticleFilterOutputScheme.hh
  include/RMGUserInit.hh
  src/CMakeLists.txt
  src/RMGParticleFilterOutputScheme.cc
  src/remage-doc-dump.cc
  tests/CMakeLists.txt
  tests/particlefilter/CMakeLists.txt
  tests/particlefilter/gdml/geometry.gdml
  tests/particlefilter/macros/alphafilter.mac
  tests/particlefilter/macros/gammafilter.mac
  tests/particlefilter/macros/keepvolume-inside.mac
  tests/particlefilter/macros/keepvolume-outside.mac
  tests/particlefilter/macros/killvolume-inside.mac
  tests/particlefilter/macros/killvolume-outside.mac
  tests/particlefilter/run-test-basicfilter.py
  tests/particlefilter/run-test-keepvolume.py
  tests/particlefilter/run-test-killvolume.py
Labels: enhancement

#300 User manual
  docs/conf.py.in
  docs/developer.md
  docs/environment.yml
  docs/index.md
  docs/manual/confinement.md
  docs/manual/generators.md
  docs/manual/geometry.md
  docs/manual/index.md
  docs/manual/input.md
  docs/manual/install.md
  docs/manual/output.md
  docs/manual/physicslist.md
  docs/manual/running.md
  docs/manual/visualization.md
  docs/tutorial.md
Labels: documentation

#293 Validation: electron ranges in germanium
  .gitignore
  .pre-commit-config.yaml
  docs/conf.py.in
  docs/developer.md
  docs/environment.yml
  docs/validation/CMakeLists.txt
  docs/validation/conf.py.in
  docs/validation/confinement.md
  docs/validation/index.md
  docs/validation/nist.md
  pyproject.toml
  python/CMakeLists.txt
  tests/CMakeLists.txt
  tests/confinement/macros/gen-surface.mac
  tests/germanium/CMakeLists.txt
  tests/germanium/run_e_sims.py
  tests/germanium/test_e_range.py
  tests/matplotlibrc
  tests/nist/CMakeLists.txt
  tests/nist/data/estar-ge.txt
  tests/nist/gdml/geometry.gdml
  tests/nist/gdml/geometry.py
  tests/nist/macros/run.mac
  tests/nist/run_e_sims.py
  tests/nist/test_brem.py
  tests/nist/test_electron_interactions.py
  tests/python/gdml/geometry.gdml
  tests/python/gdml/geometry.py
  tests/python/macros/run.mac
Labels: validation

#307 Include all vertex confiment plots into the report
  docs/validation/CMakeLists.txt
  docs/validation/confinement.md
  docs/validation/distances.md
  docs/validation/index.md
  docs/validation/observables-ge.md
  tests/CMakeLists.txt
  tests/confinement/CMakeLists.txt
  tests/confinement/macros/gen-surface.mac
  tests/confinement/macros/vis-ge-array.mac
  tests/confinement/make_ge_array_gdml.py
  tests/confinement/test_basic_surface.py
  tests/confinement/test_confinement_ge.py
  tests/confinement/test_lar_intersection.py
  tests/confinement/test_lar_subtraction.py
  tests/distances/CMakeLists.txt
  tests/distances/macros/test-ge-distance-average.mac
  tests/distances/macros/test-ge-distance-poststep.mac
  tests/distances/macros/test-ge-distance-prestep.mac
  tests/distances/test_ge_distance.py
  tests/observables/CMakeLists.txt
  tests/observables/gdml/geometry.gdml
  tests/observables/macros/vis.mac
  tests/observables/make_gdml.py
  tests/observables/plots.py
  tests/observables/post_proc.py
  tests/observables/run_sim.py
Labels: validation
