Repository legend-exp/remage, pull requests merged in 2025-07, with the labels that each got.

#426 Add `det<UID>` symlinks to the output and make the TCM use them
  docs/index.md
  docs/manual/analysis.md
  docs/manual/geometry.md
  docs/manual/output.md
  docs/tutorial.md
  examples/06-NeutronCapture/IsotopeOutputScheme.cc
  include/RMGConvertLH5.hh
  include/RMGGermaniumOutputScheme.hh
  include/RMGOpticalOutputScheme.hh
  include/RMGOutputManager.hh
  include/RMGScintillatorOutputScheme.hh
  include/RMGVOutputScheme.hh
  pyproject.toml
  python/remage/post_proc.py
  python/remage/utils.py
  src/CMakeLists.txt
  src/RMGConvertLH5.cc
  src/RMGGermaniumOutputScheme.cc
  src/RMGOpticalOutputScheme.cc
  src/RMGOutputManager.cc
  src/RMGRunAction.cc
  src/RMGScintillatorOutputScheme.cc
  src/remage-to-lh5.cc
  tests/output/CMakeLists.txt
  tests/output/dumps/ntuple-no-stp-pproc.lh5.ls
  tests/output/dumps/ntuple-no-stp.hdf5.ls
  tests/output/dumps/ntuple-no-stp.lh5.ls
  tests/output/dumps/ntuple-optionals-pproc.lh5.ls
  tests/output/dumps/ntuple-optionals.lh5.ls
  tests/output/dumps/ntuple-per-det-pproc.lh5.ls
  tests/output/dumps/ntuple-per-det-vol-pproc.lh5.ls
  tests/output/dumps/ntuple-per-det-vol.lh5.ls
  tests/output/dumps/ntuple-per-det.lh5.ls
  tests/output/dumps/ntuple-single-table-pproc.lh5.ls
  tests/output/dumps/ntuple-single-table-with-tracks-pproc.lh5.ls
  tests/output/dumps/ntuple-single-table-with-tracks.lh5.ls
  tests/output/dumps/ntuple-single-table.lh5.ls
  tests/output/macros/_init.mac
  tests/output/macros/ntuple-no-stp.mac
  tests/output/run-test-hdf5.sh
Labels: output, python-wrapper, lh5

#434 ci: split mt and non-mt test runs
  .github/workflows/main.yml
  tests/confinement/CMakeLists.txt
  tests/hades/CMakeLists.txt
  tests/vertex/CMakeLists.txt
Labels: validation, CI/CD

#436 ci: remove Xfvb setup
  .github/workflows/main.yml
Labels: CI/CD

#438 lh5: sort column and field names
  include/RMGConvertLH5.hh
  src/RMGConvertLH5.cc
  tests/output/dumps/ntuple-no-stp.lh5.ls
  tests/output/dumps/ntuple-optionals.lh5.ls
  tests/output/dumps/ntuple-per-det-vol.lh5.ls
  tests/output/dumps/ntuple-per-det.lh5.ls
  tests/output/dumps/ntuple-single-table-with-tracks-pproc.lh5.ls
  tests/output/dumps/ntuple-single-table-with-tracks.hdf5.ls
  tests/output/dumps/ntuple-single-table-with-tracks.lh5.ls
  tests/output/dumps/ntuple-single-table.lh5.ls
  tests/output/macros/ntuple-single-table-with-tracks.mac
Labels: output, lh5

#448 python: use same logic as C++ to decide color log support
  python/remage/logging.py
Labels: python-wrapper
