Repository legend-exp/remage, pull requests merged in 2025-04, with the labels that each got.

#314 python: add more infrastructure for post-processing
  python/remage/cli.py
  python/remage/ipc.py
  src/RMGRunAction.cc
  src/remage.cc
Labels: python-wrapper

#315 python: also install a wheel file
  python/CMakeLists.txt
Labels: python-wrapper

#323 ipc: send remage-cpp version to python side
  python/remage/ipc.py
  src/RMGIpc.cc
Labels: python-wrapper

#325 python: add kwargs to remage_run
  python/remage/__init__.py
  python/remage/cli.py
  tests/nist/run_e_sims.py
  tests/output/run-test-th228-chain.py
  tests/particlefilter/run-test-basicfilter.py
  tests/particlefilter/run-test-keepvolume.py
  tests/particlefilter/run-test-killvolume.py
  tests/vertex/run-vtx.py
Labels: python-wrapper

#339 Allow surface sampling on volumes with daughters
  src/RMGVertexConfinement.cc
Labels: generators

#341 Merge threads and reshape
  pyproject.toml
  python/remage/cli.py
  python/remage/utils.py
Labels: output, python-wrapper

#331 preclustering of the remage outputs and refactor of output schemes / detectors
  docs/manual/output.md
  docs/rmg-commands.md
  include/RMGDetectorHit.hh
  include/RMGGermaniumDetector.hh
  include/RMGGermaniumOutputScheme.hh
  include/RMGOutputTools.hh
  include/RMGScintillatorDetector.hh
  include/RMGScintillatorOutputScheme.hh
  src/CMakeLists.txt
  src/RMGDetectorHit.cc
  src/RMGGermaniumDetector.cc
  src/RMGGermaniumOutputScheme.cc
  src/RMGOutputTools.cc
  src/RMGScintillatorDetector.cc
  src/RMGScintillatorOutputScheme.cc
  tests/observables/plot_steps.py
  tests/output/macros/ntuple-flat-with-tracks.hdf5ls
  tests/output/macros/ntuple-flat-with-tracks.hdf5ls-lh5
  tests/output/macros/ntuple-flat.hdf5ls
  tests/output/macros/ntuple-flat.hdf5ls-lh5
  tests/output/macros/ntuple-per-det-vol.hdf5ls
  tests/output/macros/ntuple-per-det-vol.hdf5ls-lh5
  tests/output/macros/ntuple-per-det.hdf5ls
  tests/output/macros/ntuple-per-det.hdf5ls-lh5
Labels: output

#340 update validation suite for surface sampling for volumes with daughters
  docs/validation/confinement.md
  include/RMGVertexConfinement.hh
  src/RMGVertexConfinement.cc
  tests/confinement/macros/complex-surface.mac
  tests/confinement/test_basic_surface.py
  tests/confinement/test_confinement_ge.py
Labels: validation
